.board_wrap{
	width: 1000px;
	margin: 100px auto;
}
html{
	font-size: 10px;
}
ul, li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.board_title{
	margin-bottom: 30px;
}
.board_title strong{
	font-size: 3rem;
}
.board_title p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.bt_wrap{
	margin-top: 30px;
	text-align:center;
	font-size: 0;
}
.bt_wrap a{
	display: inline-block;
	min-width: 80px;
	margin-left:10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
}
.bt_wrap a:first-child{
	margin-left: 0;
}
.bt_wrap a.on{
	background: #000;
	color: #fff;
}
.board_list{
	width: 100%;
	border-top:2px solid #000;
}
.board_list > div{
	border-bottom: 1px solid #ddd;
	font-size: 0;
}
.board_list > div.top{
	border-bottom: 1px solid #999;
}
.board_list > div:last-child{
	border-bottom: 1px solid #000;
}
.board_list > div > div{
	padding: 15px 0;
	display: inline-block;
	font-size: 1.4rem;
	text-align: center;

}
.board_list > div.top > div{
	font-weight: 600;
}
.board_list .num{
	width: 10%;
}
.board_list .top .title{
	text-align: center;
}
.board_list .title{
	width: 59%;
	text-align: left;
}
.board_list .writer{
	width: 10%;
}
.board_list .date{
	width: 10%;
}
.board_list .count{
	width: 10%;
}
.board_page{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
	
}
.board_page a{
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-left: 0;
	vertical-align: middle;
	line-height: 100%;
}
.board_page a.bt{
	padding-top: 8px;
	font-size: 1.2rem;
	letter-spacing: -1px;
}
.board_page a.num{
	padding-top: 7px;
	font-size: 1.4rem;
}
.board_page a:first-child {
	border-left: 1px solid #ddd;
}
.board_page a.num.on{
	border-color: #000;
	background: #000;
	color: #fff;
}
.board_view{
	width: 100%;
	border-top: 2px solid #000;
}
.board_view .title{
	padding: 20px 15px;
	border-bottom: 1px solid #ddd;
	font-size: 2rem;
}
.board_view .info{
	padding: 15px;
	border-bottom: 1px solid #999;
	padding-bottom: 0px;
	/*font-size: 0;*/
}
.board_view .info dl{
	position: relative;
	display: inline-block;
	padding: 0 20px;
}
.board_view .info dl:first-child{
	padding-left: 0;
}
.board_view .info dl::before{
	content: "";
	position:absolute;
	top:4px;
	left:-7px;
	display:block;
	width: 1px;
	height: 13px;
	background: #ddd;
}
.board_view .info dl:first-child::before{
	display: none;
}
.board_view .info dl dt, .board_view .info dl dd{
	display: inline-block;
	font-size: 1.4rem;
}
.board_view .info dl dd{
	margin-left: 10px;
	color: #777;
}
.board_view .info dl dt{
	
}
.board_view .cont{
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}
.board_write{
	border-top: 2px solid #000;
}
.board_write .y_title, .board_write .info{
	padding: 15px;
	padding-bottom: 0px;
}
.board_write .info{
	border: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}
.board_write .y_title dl{
	font-size: 0;
}
.board_write .info dl{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.board_write .y_title dt,
.board_write .y_title dd,
.board_write .info dt,
.board_write .info dd{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.board_write .y_title dt,
.board_write .info dt{
	width: 100px;
}
.board_write .title dd{
	width: calc(100%-100px);
}
.board_write .y_title input[type ="text"],
.board_write .info input[type ="text"],
.board_write .info input[type ="password"]{
	padding: 10px;
	box-sizing: border-box;
}
.board_write .y_title input[type="text"]{
	width: 800px;
}
.board_write .cont{
	border-bottom: 1px solid #000;
}
.board_write .cont textarea{
	display: block;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-sizing: border-box;
	border : 0;
	resize: vertical;
}
