@charset "UTF-8";

@import url("css/fontawesome-all.min.css");

@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700")
	;

* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
}

h1 {
	font-size: 48px;
}

.contents1 {
	font-size: 20px;
}

/* --- */
.intro-bg {
	background-image: url("image/11061155_47903.jpg");
	width: 100%;
	height: 718px;
	object-fit:cover;
}

.header {
	display: flex;
	width: 1280px;
	height: 86px;
	margin: auto;
}

.searchArea {
	width: 300px;
	height: 40px;
	background-color: rgb(0, 0, 0, 0.5);
	border-radius: 5px;
	margin-top: 24px;
}

.searchArea>form>input {
	border: none;
	width: 250px;
	height: 40px;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	padding-left: 10px;
}

.searchArea>form>span {
	width: 50px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.nav {
	display: flex;
	justify-content: flex-end;
	line-height: 86px;
	width: calc(1280px - 300px);
}

.nav>li {
	margin-left: 84px;
}

.nav>li>a {
	color: #fff;
}

.amount {
	position: relative;
	top: -66px;
	display: flex;
	width: 1280px;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin: auto;
}

.amount>li {
	flex: 1;
	height: 132px;
}

.amount>li>div {
	text-align: center;
	margin-top: 37px;
	height: 57px;
}

.amount>li:not(:last-child)>div {
	border-right: 1px solid #E1E1E1;
}

.intro-text {
	width: 100%;
	margin: 231px auto 231px auto;
	text-align: center;
}

.intro-text>h1, .intro-text>h4 {
	color: #fff;
}

/* main-text0 */
.main-text0 {
	width: 100%;
	height: 601px;
	margin-top: -132px;
	background: #f1f2f3;
}

.main-text0>h1 {
	padding-top: 116px;
	text-align: center;
}

.main-text0>.contents1 {
	text-align: center;
}

.special {
	display: flex;
	width: 1280px;
	margin: auto;
}

.special > li {
	flex: 1;
	margin-top: 49px;
	height: 302px;
}

/* main-text1 */
.main-text1 {
	width: 100%;
	height: 659px;
}

.main-text1 > h1 {
	padding-top: 50px;
	text-align: center;
}

.main-text1 > .contents1 {
	text-align: center;
}

/* Icons */
.icon {
	text-decoration: none;
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon:before {
	line-height: inherit;
}

.icon>.label {
	display: none;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

/* Special */
ul.special {
	list-style: none;
	padding-left: 0;
	cursor: default;
	position: relative;
	margin: -2em 0 4em -2em;
}

ul.special li {
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
	position: relative;
	display: inline-block;
	top: 0;
	padding: 2em 0 0 2em;
}

ul.special li a {
	display: block;
	outline: 0;
	padding-left: 144px;
}

ul.special li a:before {
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	display: block;
	text-align: center;
	background: #c1cac5;
	border-radius: 100%;
	width: 2.25em;
	height: 2.25em;
	line-height: 2.175em;
	font-size: 5em;
	color: #fff;
}

ul.special li:hover {
	top: -1em;
}

ul.special li:hover a:before {
	background: #b9d2ce;
}